.horizontal-container {
    flex: 1;
    display: flex;
    flex-direction: row;    
}

.vertical-container {
    flex: 1;
    display: flex;
    flex-direction: column;    
}

.border-style {
    border: 1px solid #000;     
    margin: 1px;
}

.bond-analyse-ticker-header-cell {    
    width: 120px;
    height: 50px;
}

.bond-analyse-name-header-cell {    
    width: 250px;
    height: 50px;
}

.bond-analyse-nkd-header-cell {    
    width: 70px;
    height: 50px;
}

.bond-analyse-price-header-cell {    
    width: 70px;
    height: 50px;
}

.bond-analyse-yield-header-cell {    
    width: 70px;
    height: 50px;
}

.bond-analyse-days-to-maturity-header-cell {    
    width: 70px;
    height: 50px;
}

.bond-analyse-date-header-cell {    
    width: 70px;
    height: 50px;
}

.bond-analyse-ticker-cell {    
    width: 120px;
}

.bond-analyse-name-cell {    
    width: 250px;    
}

.bond-analyse-nkd-cell {    
    width: 70px;
}

.bond-analyse-price-cell {    
    width: 70px;
}

.bond-analyse-yield-cell {    
    width: 70px;
}

.bond-analyse-days-to-maturity-cell {    
    width: 70px;
}

.bond-analyse-coupon-cell {    
    width: 70px;
}
