.horizontal-container {
    flex: 1;
    display: flex;
    flex-direction: row;    
}

.vertical-container {
    flex: 1;
    display: flex;
    flex-direction: column;    
}

.close-price-diagram-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.close-price-diagram-border-style {
    border: 1px solid #000;     
    margin: .5px;  
}

.close-price-diagram-ticker {
    font-size: 12px;
}

.close-price-diagram-name {
    font-size: 10px;
}

.close-price-diagram-recommendation {
    font-size: 10px;
}

.close-price-diagram-dividend-yield {
    font-size: 10px;
}
