.horizontal-container {
    flex: 1;
    display: flex;
    flex-direction: row;    
}

.vertical-container {
    flex: 1;
    display: flex;
    flex-direction: column;    
}

.algo-border-style {
    border: 1px solid #000;     
    margin: .5px;
}

.algo-container {     
    padding: 1px; 
}

.algo-portfolio-description {        
    font-size: 16px;
}

.algo-calendar-cell {
    text-align: left;    
    height: 52px;
    width: 42px;
    font-size: 14px;    
}

.algo-corner-cell {    
    height: 52px;
    width: 88px;  
}

.algo-ticker {        
    font-size: 12px;
    width: 50px;
}

.algo-portfolio-name-button-container {    
    padding: 1px;
}

.algo-portfolio-name-button {    
    width: 170px;
    height: 30px;
}

.algo-portfolio-name-button-text {        
    font-size: 12px;
}
