.horizontal-container {
    flex: 1;
    display: flex;
    flex-direction: row;    
}

.vertical-container {
    flex: 1;
    display: flex;
    flex-direction: column;    
}

.algo-border-style {
    border: 1px solid #000;     
    margin: .5px;
}

.algo-container {     
    padding: 1px; 
}

.algo-portfolio-description {        
    font-size: 16px;
}

.algo-portfolio-name-button-container {    
    padding: 1px;
}

.algo-portfolio-name-button {    
    width: 170px;
    height: 30px;
}

.algo-portfolio-name-button-text {        
    font-size: 12px;
}
