.horizontal-container {
    flex: 1;
    display: flex;
    flex-direction: row;    
}

.vertical-container {
    flex: 1;
    display: flex;
    flex-direction: column;    
}

.algo-border-style {
    border: 1px solid #000;     
    margin: .5px;
}

.algo-cell-border-style {
    border: 1px solid #808080;     
}

.algo-container {     
    padding: 1px; 
}

.algo-backtest-result-table-container {     
    border: 1px solid #000;  
    margin: 1px;     
    width: 600px;
}

.algo-backtest-result-diagram-container {     
    border: 1px solid #000;    
    margin: 1px; 
}

.algo-backtest-result-diagram-price-container {     
    border: 1px solid #000;    
    margin: 1px; 
}

.algo-backtest-result-diagram-equity-container {     
    border: 1px solid #000;     
    margin: 1px; 
}

.algo-backtest-result-diagram-drawdown-container {     
    border: 1px solid #000;
    margin: 1px;      
}

.algo-separator {        
    width: 10px;
}

.algo-backtest-diagram {     
    padding: 1px; 
}

.algo-portfolio-description {        
    font-size: 16px;
}

.algo-strategy-description {        
    font-size: 14px;
}

.algo-diagram-description {        
    font-size: 14px;
}

.algo-corner-cell {        
    width: 51px;
}

.algo-calendar-cell {        
    width: 25px;
}

.algo-ticker {        
    font-size: 12px;
    width: 50px;
}

.algo-weight {        
    font-size: 12px;
    width: 80px;
}

.algo-size {        
    font-size: 12px;
    width: 100px;
}

.algo-cost {        
    font-size: 12px;
    width: 120px;
}

.algo-cell {        
    font-size: 12px;
    width: 4px;
}

.algo-strategy-name {        
    font-size: 12px;
    width: 200px;
}

.algo-strategy-params {        
    font-size: 12px;
    width: 200px;
}

.algo-backtest-result-ticker {        
    font-size: 12px;
    width: 50px;
}

.algo-backtest-result-strategy-params {        
    font-size: 12px;
    width: 170px;
}

.algo-backtest-result-recovery-factor {        
    font-size: 12px;
    width: 50px;
}

.algo-backtest-result-profit-factor {        
    font-size: 12px;
    width: 50px;
}

.algo-backtest-result-average-net-profit-percent {        
    font-size: 12px;
    width: 50px;
}

.algo-backtest-result-annual-yield-return {        
    font-size: 12px;
    width: 50px;
}

.algo-portfolio-name-button-container {    
    padding: 1px;
}

.algo-portfolio-name-button {    
    width: 150px;
    height: 30px;
}

.algo-portfolio-name-button-text {        
    font-size: 12px;
}

.algo-strategy-name-button-container {    
    padding: 1px;
}

.algo-strategy-name-button {    
    height: 30px;
}

.algo-strategy-name-button-text {        
    font-size: 12px;
}