.horizontal-container {
    flex: 1;
    display: flex;
    flex-direction: row;    
}

.vertical-container {
    flex: 1;
    display: flex;
    flex-direction: column;    
}

.border-style {
    border: 1px solid #000;     
    margin: .5px;  
}

.instrument-list-container {     
    width: 120px;
}

.portfolio-backtest-container {     
    padding: 1px; 
}

.portfolio-backtest-diagram {     
    padding: 1px; 
}

.portfolio-backtest-name-button-container {  
    padding: 1px;
}

.portfolio-backtest-name-button {    
    width: 200px;
    height: 30px;
}

.portfolio-backtest-name-button-text {        
    font-size: 10px;
}