.horizontal-container {
    flex: 1;
    display: flex;
    flex-direction: row;    
}

.vertical-container {
    flex: 1;
    display: flex;
    flex-direction: column;    
}

.fundamental-parameter-border-style {
    border: 1px solid #000;     
    margin: 1px;
}

.fundamental-parameter-container {     
    padding: 1px; 
}

.emitent-cell {
    
}

.number-cell {
    font-size: 12px; 
}

.name-cell {
    width: 100px; 
    font-size: 10px; 
}

.name-sector {
    width: 100px; 
    font-size: 10px; 
}

.ticker-header-cell {
    width: 102px;  
    font-size: 12px; 
}

.ticker-cell {
    width: 10px; 
    font-size: 12px; 
}

.instrument-button {    
    width: 90px;
}

.instrument-button-text {        
    font-size: 12px;     
}

.year-header-cell {
    width: 50px;
    font-size: 12px;  
}

.year-cell {
    width: 50px;  
    height: 30px;
    font-size: 18px;
}

.score-header-cell {
    width: 70px;
    padding: 1px;
    font-size: 12px;  
}

.score-cell {
    text-align: center;    
    width: 34px;
    height: 20px;
    font-size: 12px;    
}

.mcftr-change-header-cell {
    width: 70px;
    font-size: 12px;  
}

.mcftr-change-cell {
    width: 70px;    
    font-size: 12px;
}

.number-shares-header-cell {
    width: 70px;
    font-size: 12px;  
}

.number-shares-cell {
    width: 70px;
    height: 30px;
    font-size: 18px;
}

.pe-header-cell {
    width: 70px;
    font-size: 12px;  
}

.pe-cell {
    width: 70px;
    height: 30px;
    font-size: 18px;
}

.pbv-header-cell {
    width: 70px;
    font-size: 12px;  
}

.pbv-cell {
    width: 70px;
    height: 30px;
    font-size: 18px;
}

.roa-header-cell {
    width: 70px;
    font-size: 12px;  
}

.roa-cell {
    width: 70px;
    height: 30px;
    font-size: 18px;
}

.roe-header-cell {
    width: 70px;
    font-size: 12px;  
}

.roe-cell {
    width: 70px;
    height: 30px;
    font-size: 18px;
}

.revenue-header-cell {
    width: 70px;
    font-size: 12px;  
}

.revenue-cell {
    width: 70px;
    height: 30px;
    font-size: 18px;
}

.netprofit-header-cell {
    width: 70px;
    font-size: 12px;  
}

.netprofit-cell {
    width: 70px;
    height: 30px;
    font-size: 18px;
}

.fcf-header-cell {
    width: 70px;
    font-size: 12px;  
}

.fcf-cell {
    width: 70px;
    height: 30px;
    font-size: 18px;
}

.eps-header-cell {
    width: 70px;
    font-size: 12px;  
}

.eps-cell {
    width: 70px;
    height: 30px;
    font-size: 18px;
}

.price-header-cell {
    width: 70px;
    font-size: 12px;  
}

.price-cell {
    width: 70px;
    height: 30px;
    font-size: 18px;
}

.netdebt-header-cell {
    width: 70px;
    font-size: 12px;  
}

.netdebt-cell {
    width: 70px;
    height: 30px;
    font-size: 18px;
}

.ebitda-header-cell {
    width: 70px;
    font-size: 12px;  
}

.ebitda-cell {
    width: 70px;
    height: 30px;
    font-size: 18px;
}

.own-capital-header-cell {
    width: 70px;
    font-size: 12px;  
}

.own-capital-cell {
    width: 70px;
    height: 30px;
    font-size: 18px;
}

.ev-header-cell {
    width: 70px;
    font-size: 12px;  
}

.ev-cell {
    width: 70px;
    height: 30px;
    font-size: 18px;
}

.dividend-yield-header-cell {
    width: 70px;
    font-size: 12px;  
}

.dividend-yield-cell {
    width: 70px;
    height: 30px;
    font-size: 18px;
}

.dividend-header-cell {
    width: 70px;
    font-size: 12px;  
}

.dividend-cell {
    width: 70px;
    height: 30px;
    font-size: 18px;
}

.marketcap-header-cell {
    width: 70px;
    font-size: 12px;  
}

.marketcap-cell {
    width: 70px;
    height: 30px;
    font-size: 18px;
}

.ev-ebitda-header-cell {
    width: 70px;
    font-size: 12px;  
}

.ev-ebitda-cell {
    width: 70px;
    height: 30px;
    font-size: 18px;
}

.own-cap-num-header-cell {
    width: 70px;
    font-size: 12px;  
}

.own-cap-num-cell {
    width: 70px;
    height: 30px;
    font-size: 18px;
}

.netdebt-ebitda-header-cell {
    width: 70px;
    font-size: 12px;  
}

.netdebt-ebitda-cell {
    width: 70px;
    height: 30px;
    font-size: 18px;
}

.ebitda-revenue-header-cell {
    width: 70px;
    font-size: 12px;  
}

.ebitda-revenue-cell {
    width: 70px;
    height: 30px;
    font-size: 18px;
}

.delta-min-max-header-cell {
    width: 70px;
    font-size: 12px;  
}

.delta-min-max-cell {
    width: 70px;
    height: 30px;
    font-size: 18px;
}

/*Edit modal*/
.edit-modal-save-button {
    width: 100px;
    margin: 5px;
    font-size: 10px;
}

.edit-modal-delete-button {
    width: 100px;
    margin: 5px;
    font-size: 10px;
}

.edit-modal-cancel-button {
    width: 100px;
    margin: 5px;
    font-size: 10px;
}

.edit-modal-input {
    margin: 5px;
    font-size: 10px;
}