.horizontal-container {
    flex: 1;
    display: flex;
    flex-direction: row;    
}

.vertical-container {
    flex: 1;
    display: flex;
    flex-direction: column;    
}

.border-style {
    border: 1px solid #000;     
    margin: 1px;  
}

.fundamental-parameter-container {     
    padding: 1px; 
}

.ticker-header-cell {
    width: 102px;  
    padding: 1px;
}

.year-header-cell {
    width: 50px;
    padding: 1px;
    font-size: 12px;  
}

.pe-header-cell {
    width: 70px;
    padding: 1px;
    font-size: 12px;  
}

.revenue-header-cell {
    width: 70px;
    padding: 1px;
    font-size: 12px;  
}

.netprofit-header-cell {
    width: 70px;
    padding: 1px;
    font-size: 12px;  
}

.price-header-cell {
    width: 70px;
    padding: 1px;
    font-size: 12px;  
}

.ebitda-header-cell {
    width: 70px;
    padding: 1px;
    font-size: 12px;  
}

.emitent-cell {
    height: 146px;
}

.ticker-cell {
    height: 25px;
    width: 100px; 
    padding: 1px;
    font-size: 12px; 
}

.name-cell {
    width: 100px; 
    padding: 1px;
    font-size: 10px; 
}

.year-cell {
    text-align: center;
    width: 50px;  
    height: 20px;
    padding: 1px;
    font-size: 12px;
}

.pe-cell {
    width: 70px;
    height: 20px;
    font-size: 12px;
    padding: 1px;
}

.revenue-cell {
    width: 70px;
    height: 20px;
    font-size: 12px;
    padding: 1px;
}

.netprofit-cell {
    width: 70px;
    height: 20px;
    font-size: 12px;
    padding: 1px;
}

.price-cell {
    width: 70px;
    height: 20px;
    font-size: 12px;
    padding: 1px;
}

.ebitda-cell {
    width: 70px;
    height: 20px;
    font-size: 12px;
    padding: 1px;
}

.edit-button {    
    width: 70px;
    height: 20px;    
}

/*Edit modal*/
.edit-modal-save-button {
    width: 100px;
    margin: 5px;
    font-size: 10px;
}

.edit-modal-delete-button {
    width: 100px;
    margin: 5px;
    font-size: 10px;
}

.edit-modal-cancel-button {
    width: 100px;
    margin: 5px;
    font-size: 10px;
}

.edit-modal-input {
    margin: 5px;
    font-size: 10px;
}