.horizontal-container {
    flex: 1;
    display: flex;
    flex-direction: row;    
}

.vertical-container {
    flex: 1;
    display: flex;
    flex-direction: column;    
}

.border-style {
    border: 1px solid #000;     
    margin: 1px;
}

.portfolio-position-container {     
    padding: 1px; 
}

.portfolio-position-ticker-header-cell {
    width: 102px;  
    padding: 1px;
    font-size: 12px; 
}

.portfolio-position-name-header-cell {
    width: 102px;  
    padding: 1px;
    font-size: 12px; 
}

.portfolio-position-dividend-coefficient-header-cell {
    width: 50px;
    padding: 1px;
    font-size: 12px;  
}

.portfolio-position-percentage-header-cell {
    width: 75px;
    padding: 1px;
    font-size: 12px;  
}

.portfolio-position-price-header-cell {
    width: 75px;
    padding: 1px;
    font-size: 12px;  
}

.portfolio-position-cost-header-cell {
    width: 75px;
    padding: 1px;
    font-size: 12px;  
}

.portfolio-position-edit-button-header-cell {
    width: 75px;
    padding: 1px;
    font-size: 12px;  
}

.portfolio-position-ticker-cell {
    width: 102px;  
    padding: 1px;
    font-size: 12px; 
}

.portfolio-position-name-cell {
    width: 102px;  
    padding: 1px;
    font-size: 12px; 
}

.portfolio-position-dividend-coefficient-cell {
    width: 50px;
    padding: 1px;
    font-size: 12px;  
}

.portfolio-position-percentage-cell {
    width: 75px;
    padding: 1px;
    font-size: 12px;  
}

.portfolio-position-price-cell {
    width: 75px;
    padding: 1px;
    font-size: 12px;  
}

.portfolio-position-cost-cell {
    width: 75px;
    padding: 1px;
    font-size: 12px;  
}

.portfolio-position-edit-button-cell {
    width: 75px;
    padding: 1px;
    font-size: 12px;  
}

/*Edit modal*/
.edit-modal-save-button {
    width: 100px;
    margin: 5px;
    font-size: 10px;
}

.edit-modal-delete-button {
    width: 100px;
    margin: 5px;
    font-size: 10px;
}

.edit-modal-cancel-button {
    width: 100px;
    margin: 5px;
    font-size: 10px;
}

.edit-modal-input {
    margin: 5px;
    font-size: 10px;
}