.horizontal-container {
    flex: 1;
    display: flex;
    flex-direction: row;    
}

.vertical-container {
    flex: 1;
    display: flex;
    flex-direction: column;    
}

.portfolio-position-border-style {
    border: 1px solid #000;     
    margin: .5px;
}

.portfolio-position-total-sum {    
    padding: 1px;
    font-size: 22px; 
}

.portfolio-position-container {     
    padding: 1px; 
}

.portfolio-position-number-header-cell {
    width: 30px;  
    padding: 1px;
    font-size: 14px; 
}

.portfolio-position-ticker-header-cell {
    width: 65px;  
    padding: 1px;
    font-size: 14px; 
}

.portfolio-position-name-header-cell {
    width: 200px;  
    padding: 1px;
    font-size: 14px; 
}

.portfolio-position-current-dividend-yield-header-cell {
    width: 70px;  
    padding: 1px;
    font-size: 14px; 
}

.portfolio-position-sector-header-cell {
    width: 200px;  
    padding: 1px;
    font-size: 14px; 
}

.portfolio-position-trend-coefficient-header-cell {
    width: 70px;
    padding: 1px;
    font-size: 14px;  
}

.portfolio-position-fundamental-score-coefficient-header-cell {
    width: 60px;
    padding: 1px;
    font-size: 14px;  
}

.portfolio-position-dividend-coefficient-header-cell {
    width: 60px;
    padding: 1px;
    font-size: 14px;  
}

.portfolio-position-manual-coefficient-header-cell {
    width: 60px;
    padding: 1px;
    font-size: 14px;  
}

.portfolio-position-marketcap-coefficient-header-cell {
    width: 60px;
    padding: 1px;
    font-size: 14px;  
}

.portfolio-position-result-coefficient-header-cell {
    width: 60px;
    padding: 1px;
    font-size: 14px;  
}

.portfolio-position-percentage-header-cell {
    width: 70px;
    padding: 1px;
    font-size: 14px;  
}

.portfolio-position-month-delta-price-percent-header-cell {
    width: 90px;
    padding: 1px;
    font-size: 14px;  
}

.portfolio-position-price-header-cell {
    width: 100px;
    padding: 1px;
    font-size: 14px;  
}

.portfolio-position-message-header-cell {
    width: 120px;
    padding: 1px;
    font-size: 14px;  
}

.portfolio-position-size-header-cell {
    width: 150px;
    padding: 1px;
    font-size: 14px;  
}

.portfolio-position-delta-size-header-cell {
    width: 200px;
    padding: 1px;
    font-size: 14px;  
}

.portfolio-position-cost-header-cell {
    width: 100px;
    padding: 1px;
    font-size: 14px;  
}

.portfolio-position-edit-button-header-cell {
    width: 100px;
    padding: 1px;
    font-size: 14px;  
}

.portfolio-position-number-cell {
    width: 30px;
    padding: 1px;
    font-size: 14px; 
}

.portfolio-position-ticker-cell {
    width: 65px;  
    padding: 1px;
    font-size: 14px; 
}

.portfolio-position-name-cell {
    width: 200px;
    padding: 1px;
    font-size: 14px; 
}

.portfolio-position-current-dividend-yield-cell {
    width: 70px;
    padding: 1px;
    font-size: 14px; 
}

.portfolio-position-sector-cell {
    width: 200px;
    padding: 1px;
    font-size: 14px; 
}

.portfolio-position-trend-coefficient-cell {
    width: 70px;
    padding: 1px;
    font-size: 14px;  
}

.portfolio-position-fundamental-score-coefficient-cell {
    width: 60px;
    padding: 1px;
    font-size: 14px;  
}

.portfolio-position-dividend-coefficient-cell {
    width: 60px;
    padding: 1px;
    font-size: 14px;  
}

.portfolio-position-manual-coefficient-cell {
    width: 60px;
    padding: 1px;
    font-size: 14px;  
}

.portfolio-position-marketcap-coefficient-cell {
    width: 60px;
    padding: 1px;
    font-size: 14px;  
}

.portfolio-position-result-coefficient-cell {
    width: 60px;
    padding: 1px;
    font-size: 14px;  
}

.portfolio-position-percentage-cell {
    width: 70px;
    padding: 1px;
    font-size: 14px;  
}

.portfolio-position-month-delta-price-percent-cell {
    width: 90px;
    padding: 1px;
    font-size: 14px;  
}

.portfolio-position-price-cell {
    width: 100px;
    padding: 1px;
    font-size: 14px;  
}

.portfolio-position-message-cell {
    width: 120px;
    padding: 1px;
    font-size: 14px;  
}

.portfolio-position-size-cell {
    width: 150px;
    padding: 1px;
    font-size: 14px;  
}

.portfolio-position-delta-size-cell {
    width: 200px;
    padding: 1px;
    font-size: 14px;  
}

.portfolio-position-cost-cell {
    width: 100px;
    padding: 1px;
    font-size: 14px;  
}

.portfolio-position-edit-button-cell {
    width: 100px;
    padding: 1px;
    font-size: 14px;  
}

.edit-button {    
    width: 80px;
    height: 25px;
}

.edit-button-text {        
    font-size: 10px;     
}

/*Edit modal*/
.edit-modal-save-button {
    width: 100px;
    margin: 5px;
    font-size: 10px;
}

.edit-modal-delete-button {
    width: 100px;
    margin: 5px;
    font-size: 10px;
}

.edit-modal-cancel-button {
    width: 100px;
    margin: 5px;
    font-size: 10px;
}

.edit-modal-input {
    margin: 5px;
    font-size: 10px;
}

.sort-button-container {  
    padding: 1px;
}

.sort-button {    
    width: 50px;
    height: 30px;
}

.sort-button-text {        
    font-size: 10px;
}