.horizontal-container {
    flex: 1;
    display: flex;
    flex-direction: row;    
}

.vertical-container {
    flex: 1;
    display: flex;
    flex-direction: column;    
}

.border-style {
    border: 1px solid #000;     
    margin: 1px;
}

.week-trend-delta-corner-cell {    
    width: 150px;  
}

.week-trend-delta-calendar-cell {
    text-align: left;    
    height: 90px;
    width: 100px;
    font-size: 14px; 
    padding: .5px;   
}

.week-trend-delta-container {     
    padding: 1px; 
}

.week-trend-delta-instrument-ticker-cell { 
    font-size: 14px;   
}

.week-trend-delta-instrument-name-cell {
    font-size: 10px;  
}

.week-trend-delta-value-cell {  
    height: 40px;
    width: 100px;  
    font-size: 12px;
    text-align: center; 
}

.week-trend-delta-price-cell {  
    width: 100px;  
    font-size: 10px;
    text-align: center; 
}

.week-trend-delta-delta-cell {  
    width: 100px;  
    font-size: 16px;
    text-align: center; 
}