.horizontal-container {
    flex: 1;
    display: flex;
    flex-direction: row;    
}

.vertical-container {
    flex: 1;
    display: flex;
    flex-direction: column;    
}

.border-style {
    border: 1px solid #000;     
    margin: .5px;  
}

.corner-cell {    
    height: 52px;
    width: 145px;  
}

.calendar-cell {
    text-align: left;    
    height: 90px;
    width: 100px;
    font-size: 14px; 
    padding: .5px;   
}

.week-trend-delta-container {     
    padding: 1px; 
}

.instrument-ticker-cell { 
    font-size: 14px;   
}

.instrument-name-cell {
    font-size: 10px;  
}

.delta-cell {  
    height: 40px;
    width: 100px;  
    font-size: 12px;
    text-align: center; 
}