.horizontal-container {
    flex: 1;
    display: flex;
    flex-direction: row;    
}

.vertical-container {
    flex: 1;
    display: flex;
    flex-direction: column;    
}

.fundamental-by-sector-border-style {
    border: 1px solid #000;     
    margin: .5px;
}

.fundamental-by-sector-container {     
    padding: 1px; 
}

.fundamental-by-sector-sector-title {  
    font-size: 18px;  
    padding: 1px;
}

.fundamental-by-sector-diagram-title {  
    font-size: 16px;  
    padding: 1px;
}

.fundamental-by-sector-line-diagram-title {  
    font-size: 12px;  
}

.fundamental-by-sector-line-diagram-name {  
    font-size: 10px;  
}

.fundamental-by-sector-fundamental-score-title {  
    font-size: 16px;  
}

.sector-button-container {    
    padding: 1px;
}

.sector-button {    
    width: 100px;
    height: 30px;
}

.sector-button-text {        
    font-size: 12px;
}

.fundamental-by-sector-number-header-cell {
    width: 20px;  
    font-size: 14px; 
}

.fundamental-by-sector-number-cell {    
    width: 20px;
    font-size: 14px; 
}

.fundamental-by-sector-ticker-header-cell {
    width: 45px;  
    font-size: 14px; 
}

.fundamental-by-sector-ticker-cell {  
    width: 45px;  
    font-size: 12px; 
}

.fundamental-by-sector-name-header-cell {
    width: 110px;  
    font-size: 14px; 
}

.fundamental-by-sector-name-cell {   
    width: 110px; 
    font-size: 12px; 
}

.fundamental-by-sector-sector-header-cell {
    width: 90px;  
    font-size: 14px; 
}

.fundamental-by-sector-sector-cell { 
    width: 90px;   
    font-size: 14px; 
}

.fundamental-by-sector-score-header-cell {
    width: 40px;  
    font-size: 14px; 
}

.fundamental-by-sector-score-cell {   
    width: 40px; 
    font-size: 14px; 
}

.fundamental-by-sector-market-cap-header-cell {
    width: 90px;  
    font-size: 14px; 
}

.fundamental-by-sector-market-cap-cell {   
    width: 90px; 
    font-size: 10px; 
}

.fundamental-by-sector-pe-header-cell {
    width: 90px;  
    font-size: 14px; 
}

.fundamental-by-sector-pe-cell {   
    width: 90px; 
    font-size: 10px; 
}

.fundamental-by-sector-pbv-header-cell {
    width: 90px;  
    font-size: 14px; 
}

.fundamental-by-sector-pbv-cell {   
    width: 90px; 
    font-size: 10px; 
}

.fundamental-by-sector-ev-ebitda-header-cell {
    width: 90px;  
    font-size: 12px; 
}

.fundamental-by-sector-ev-ebitda-cell {   
    width: 90px; 
    font-size: 10px; 
}

.fundamental-by-sector-netdebt-ebitda-header-cell {
    width: 90px;  
    font-size: 12px; 
}

.fundamental-by-sector-netdebt-ebitda-cell {   
    width: 90px; 
    font-size: 10px; 
}

.fundamental-by-sector-netdebt-header-cell {
    width: 90px;  
    font-size: 12px; 
}

.fundamental-by-sector-netdebt-cell {   
    width: 90px; 
    font-size: 10px; 
}

.fundamental-by-sector-debt-ratio-header-cell {
    width: 90px;  
    font-size: 12px; 
}

.fundamental-by-sector-debt-ratio-cell {   
    width: 90px; 
    font-size: 10px; 
}

.fundamental-by-sector-debt-equity-header-cell {
    width: 90px;  
    font-size: 12px; 
}

.fundamental-by-sector-debt-equity-cell {   
    width: 90px; 
    font-size: 10px; 
}

.fundamental-by-sector-dividend-yield-header-cell {
    width: 90px;  
    font-size: 14px; 
}

.fundamental-by-sector-dividend-yield-cell {   
    width: 90px; 
    font-size: 10px; 
}

.fundamental-by-sector-dividend-aristocrat-header-cell {
    width: 90px;  
    font-size: 14px; 
}

.fundamental-by-sector-dividend-aristocrat-cell {   
    width: 90px; 
    font-size: 10px; 
}

.fundamental-by-sector-netprofit-header-cell {
    width: 90px;  
    font-size: 14px; 
}

.fundamental-by-sector-netprofit-cell {   
    width: 90px; 
    font-size: 10px; 
}

.fundamental-by-sector-fcf-header-cell {
    width: 90px;  
    font-size: 14px; 
}

.fundamental-by-sector-fcf-cell {   
    width: 90px; 
    font-size: 10px; 
}

.fundamental-by-sector-eps-header-cell {
    width: 90px;  
    font-size: 14px; 
}

.fundamental-by-sector-eps-cell {   
    width: 90px; 
    font-size: 10px; 
}

.fundamental-by-sector-roa-header-cell {
    width: 90px;  
    font-size: 14px; 
}

.fundamental-by-sector-roa-cell {   
    width: 90px; 
    font-size: 10px; 
}

.fundamental-by-sector-roe-header-cell {
    width: 90px;  
    font-size: 14px; 
}

.fundamental-by-sector-roe-cell {   
    width: 90px; 
    font-size: 10px; 
}

.fundamental-by-sector-ebitda-revenue-header-cell {
    width: 90px;  
    font-size: 14px; 
}

.fundamental-by-sector-ebitda-revenue-cell {   
    width: 90px; 
    font-size: 10px; 
}

.fundamental-by-sector-falling-from-max-header-cell {
    width: 70px;  
    font-size: 14px; 
}

.fundamental-by-sector-falling-from-max-cell {   
    width: 70px; 
    font-size: 14px; 
}
