.horizontal-container {
    flex: 1;
    display: flex;
    flex-direction: row;    
}

.vertical-container {
    flex: 1;
    display: flex;
    flex-direction: column;    
}

.border-style {
    border: 1px solid #000;     
    margin: .5px;  
}

.calendar-cell {
    text-align: left;    
    height: 52px;
    width: 35px;
    font-size: 14px;    
}

.corner-cell {    
    height: 52px;
    width: 150px;  
}

.ticker-cell {
    text-align: left;    
    height: 31px;
    width: 150px;
    font-size: 14px; 
    padding: 2px;   
}

.trend-cell {  
    height: 16px;
    width: 35px;  
}

.delta-cell {  
    height: 14px;
    width: 35px;
    font-size: 9px;
    text-align: center;   
}