.horizontal-container {
    flex: 1;
    display: flex;
    flex-direction: row;    
}

.vertical-container {
    flex: 1;
    display: flex;
    flex-direction: column;    
}

.border-style {
    border: 1px solid #000;     
    margin: .5px;  
}

.calendar-cell {
    text-align: left;    
    height: 52px;
    width: 50px;
    font-size: 14px;    
}

.corner-cell {    
    height: 52px;
    width: 100px;  
}

.ticker-cell {
    text-align: left;    
    height: 41px;
    width: 100px;
    font-size: 14px; 
    padding: 2px;   
}

.trend-cell {  
    height: 20px;
    width: 50px;  
    font-size: 12px;
    text-align: center; 
}

.delta-cell {  
    height: 20px;
    width: 50px;
    font-size: 12px;
    text-align: center;   
}