.horizontal-container {
    flex: 1;
    display: flex;
    flex-direction: row;    
}

.vertical-container {
    flex: 1;
    display: flex;
    flex-direction: column;    
}

.border-style {
    border: 1px solid #000;     
    margin: 1px;  
}

.calendar-cell {
    text-align: left;    
    height: 52px;
    width: 50px;
    font-size: 14px;    
}

.ticker-cell {
    text-align: left;    
    height: 52px;
    width: 150px;
    font-size: 18px;    
}

.trend-cell {  
    height: 35px;
    width: 50px;  
}

.delta-cell {  
    height: 15px;
    width: 50px;
    font-size: 10px;
    text-align: center;   
}