.horizontal-container {
    flex: 1;
    display: flex;
    flex-direction: row;    
}

.vertical-container {
    flex: 1;
    display: flex;
    flex-direction: column;    
}

.border-style {
    border: 1px solid #000;     
    margin: .5px;
}

.momentum-container {     
    padding: 1px; 
}

.momentum-diagram {     
    padding: 1px; 
}

.momentum-current-position {     
    width: 150px;
    height: 150px;
}

.momentum-ticker {     
    font-size: 18px; 
}

.momentum-metric {     
    width: 100px;
    height: 70px;
}

.momentum-metric-description {     
    font-size: 14px; 
}

.momentum-metric-value {     
    font-size: 24px; 
}