.horizontal-container {
    flex: 1;
    display: flex;
    flex-direction: row;    
}

.vertical-container {
    flex: 1;
    display: flex;
    flex-direction: column;    
}

.border-style {
    border: 1px solid #000;     
    margin: 1px;
}

.macro-parameter-container {     
    padding: 1px; 
}

.macro-parameter-date-header-cell {
    width: 80px;
    padding: 1px;
    font-size: 12px; 
    text-align: center; 
}

.macro-parameter-header-cell {
    width: 150px;
    padding: 1px;
    font-size: 12px; 
    text-align: center; 
}

.macro-parameter-edit-button-header-cell {
    width: 80px;
    padding: 1px;
    font-size: 12px; 
    text-align: center; 
}

.macro-parameter-date-cell {
    height: 65px;
    width: 80px;   
}

.macro-parameter-cell {
    height: 65px;
    width: 150px;   
}

.macro-parameter-cell-value {
    font-size: 16px;
    text-align: center;
}

.macro-parameter-cell-month-change {
    font-size: 12px;
    text-align: center;
}

.macro-parameter-cell-year-change {
    font-size: 12px;
    text-align: center;
}

.macro-parameter-edit-button-cell {
    height: 65px;
    width: 80px;   
}

/*Edit modal*/
.edit-modal-save-button {
    width: 100px;
    margin: 5px;
    font-size: 10px;
}

.edit-modal-delete-button {
    width: 100px;
    margin: 5px;
    font-size: 10px;
}

.edit-modal-cancel-button {
    width: 100px;
    margin: 5px;
    font-size: 10px;
}

.edit-modal-input {
    margin: 5px;
    font-size: 10px;
}